.icon :hover{
    transform: rotate(360deg);

}

input[type="submit"]:hover {
    background-color: #635850;
    color: #F7F7F4;
}

input[type="text"]:hover {
    background-color: transparent;
    border: 2px solid #635850;
}


.textarea_hover {
    background-color: transparent;
    border: 2px solid #635850;
}

/*IMAGE HOVER*/

.img-hover{
    padding: 0;
    height: auto;
}

.img-hover img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.img-hover img:hover{
    transform: scale(1.2);
}

.img-hover{
    overflow: hidden;
}

/*IN TEXT INK*/

.in-text-link{
    font-size: 18px;
    color: #B3ACA8;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    text-decoration: none;
}

.in-text-link:hover{
    color: #635850;
    text-decoration: none;
    border-bottom: 2px solid #635850;
}


/*FORM*/
.text-input input {
    margin-bottom: 20px;
    height: 30px;
    background-color: #E1E1E1;
    border: none;
    outline: none;
    border: 2px solid transparent;
    width:100%;
    margin-top: 10px;
}

.text-input label {
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    width:100%;
}

.sample-form{
    display: flex;
    flex-wrap: wrap;
}

.left-form,.right-form{
    width:80%;
    flex: 1 1 40%;
    margin-right: 30px;
}

.submit-area{
flex: 1 1 100%;
    padding-right: 15px;
}
.submit-area .submit{
    float: right;
}
textarea {
    height: 105px;
    background-color: #E1E1E1;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 10px;
     border: 2px solid transparent;
    width: 100%;
}

.submit {
    width: 100px;
    margin-right: 15px;
    background-color: transparent;
    border: 2px solid #635850;
    color: #635850;
    height: 30px;
}

/*NAV*/

.nav-link {
    color: #36312F;
    font-size: 20px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 3px solid transparent;

}

.nav-link:hover {
    border-bottom: 3px solid #B3ACA8;
    background-color: #F7F7F4;
    font-weight: 800;
}

.sample-nav nav {
    background-color: transparent;
    position: relative;
    z-index: 99;
    border: 1px solid black;
    padding-right: 50px;
}

.sample-nav img {
    width: 100%;
    border: 1px solid black;
    border-top: none;
}

.sample-nav .nav-link {
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: auto;
    width: auto;
}