* {
    box-sizing: border-box;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5vw;
}

html {
    font-family: 'PT Sans', sans-serif;
    background-color: #fbf3f3;
}

h3,
h4,
h5,
h6 {
    font-family: 'Archivo', sans-serif;
}

h1,
h2 {
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-size: 4.5vw;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.section-title {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin: 0 30px;

}


.code-render-title {
    margin-bottom: 10px;
    color: black;
}

.code-background {
    background-color: #9c644c;
    padding: 20px;
    width: 100%;
}


/*=======INTERACTIVE ELEMENTS===========*/



.interactive_elements code {
    width: 400px;
    padding: 1px;
    background-color: transparent;
    color: black
}

.radio-button label {
    font-size: 18px;
    padding: 0px 31px 20px 4px;
}


/*================text elements==========*/


.text_elements ol {
    font-size: 20px;
    padding-left: 20px;
}



@media (max-width: 810px) {

    .sample-heading h1,
    .sample-heading h2,
    .sample-heading h3,
    .sample-heading h4 {
        padding: 0 10px 10px 10px;
        margin: 0;
        width: 100%;
    }


}




/*=======PRODUCTION LIST===========*/
.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-box {
    display: flex;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
}

.product-box h4 {
    font-size: 18px;
    font-weight: 200;
    margin: 0;
    text-align: center;
    width: 230px;
}

.product-box p {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0;
}

.product-box a {
    margin-bottom: 35px;
}


@media (max-width: 768px) {
    .combined_elements .container {
        flex-direction: column;
    }

    .combined_elements .code-box {
        width: 100%;
    }

    .product-box p {
        font-size: 16px;
    }

    .product-box h4 {
        font-size: 16px;
        width: 180px;
    }

    .product-box .in-text-link {
        font-size: 15px;
        opacity: 1;
        background-color: black;
        color: white;
        margin-bottom: 50px;
    }



}

/*=======NAVIGATION===========*/
.sample-nav nav {
    background-color: #fbf3f3;
    position: relative;
    z-index: 99;
    border: 1px solid black;
    border-bottom: none;
}

.sample-nav img {
    width: 100%;
    border: 1px solid black;
    border-top: none;
}

.sample-nav a {
    font-size: 18px;
    padding-top: 15px;
}

.sample-nav .nav-link img {
    width: 20px;
    border: none;


}

@media (max-width: 1024px) {
    .sample-nav .nav-items a {
        font-size: 16px;
        padding: 5px;
        padding-top: 10px;
    }
}







/*======================Cart===========*/


.cart-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.cart img,
.cart p {
    flex: 1 1 35%;
    font-size: 17px;
    text-align: center;
}

.cart h4 {
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}



.cart img {
    width: 10vw;
    padding: 20px;
}

@media (max-width:590px) {

    .cart p {
        font-size: 16px;
    }

    .cart h4 {
        font-size: 17px;
        margin-bottom: 60px;
    }

}


/*====================others==================*/

.basic-idea .container {
    border-bottom: 2px solid black;
    flex-direction: column;
    margin-top: 60px;
}

.basic-idea h3 {
    padding-left: 60px;
    margin-bottom: 0;
    margin-top: 60px;
}

.basic-idea p {
    padding-left: 60px;
    margin-top: 8px;
    width: 100%;
    font-size: 16px;
}

@media (max-width:590px) {
    .basic-idea h3 {
        padding-left: 0;
        margin-top: 20px;
        ;
    }

    .basic-idea p {
        padding-left: 0px;

    }
}

.color-platte img {
    width: 100%;
    border: 1px solid black;
}

.icon {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.citation {
    width: 90%;
}

.citation li {
    width: 90%;
}


/*=============ICON=============*/
.icon {
    justify-content: center;
}

.icon img {
    width: 8vw;
    margin-right: 4vw;
    margin-top: 30px;
}

.icon h3 {
    width: 100%;
}



.sg-nav .nav-items a {
    flex: 1 1 10%;
}

.sg-nav .nav-items {
    justify-content: center;
}

.sg-title {
    margin-top: 120px;
    text-align: center;
    font-size: 60px;
}


