@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Anonymous Pro', monospace;
    transition: .3s ease-in-out;
}

html {
    background-color: #F7F7F4;
    padding: 30px;
}

p {
    font-size: 20px;
    color: #635850;
}

h1 {
    font-family: 'Cousine', monospace;
    font-size: 80px;
    font-weight: 600;
    color: #36312F;
}

h2 {
    font-family: 'Cousine', monospace;
    font-size: 50px;
    font-weight: 300;
    color: #36312F;

}

h3 {
    font-size: 35px;
    color: #36312F;
}

h4 {
    font-size: 25px;
    color: #36312F;
}

footer {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 3rem;
    background-color: #E1E1E1;
}

.linkBox {
    flex: 1 1 50%;
}

.linkBox a {
    text-decoration: none;
    color: #635850;
    float: right;
    padding: 0 1.5rem;
    font-size: 14px;
}

footer p{
    font-size: 14px;
font-weight: 600;
text-align: center;
}

.linkBox a:hover {
    font-weight: 800;
    transform: scale(1.1);
}

.section-title {
    text-align: center;
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
    margin: 0 30px;

}


.code-render-title {
    margin-bottom: 30px;
    color: black;
}

.code-background {
    background-color: #E1E1E1;
    padding: 20px;
    width: 100%;
}


/*=======INTERACTIVE ELEMENTS===========*/



.interactive_elements code {
    width: 400px;
    padding: 1px;
    background-color: transparent;
    color: black
}

.radio-button label {
    font-size: 18px;
    padding: 0px 31px 20px 4px;
}


/*=======SKILLS===========*/
.skills {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #B3ACA8;
}

.skill-section p {
    margin-bottom: 5px;
}

.skill-section{
    display: flex;
}

.right-list{
    margin-left: 60px;
}


/*================text elements==========*/


.text_elements ol {
    font-size: 20px;
    padding-left: 20px;
}



@media (max-width: 810px) {

    .sample-heading h1,
    .sample-heading h2,
    .sample-heading h3,
    .sample-heading h4 {
        padding: 0 10px 10px 10px;
        margin: 0;
        width: 100%;
    }

    html {
        padding: 20px;
    }

    .linkBox {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

}





/*====================others==================*/

.color-platte img {
    width: 100%;
    border: 1px solid black;
}

.icon {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.citation {
    width: 90%;
}

.citation li {
    width: 90%;
}


/*=============ICON=============*/
.icon {
    justify-content: center;
}

.icon img {
    width: 45px;
    margin-right: 25px;
    margin-top: 30px;
    filter: invert(33%) sepia(17%) saturate(414%) hue-rotate(343deg) brightness(94%) contrast(80%);
}

.icon h3 {
    width: 100%;
}



.sg-nav .nav-items a {
    padding-top: 30px;
    width: auto;
    text-align: center;

}


.sg-nav {
    padding: 0 90px;
    width: 100vw;

}

.sg-title {
    margin-top: 120px;
    text-align: center;
}
