html,
body {
    padding: 0;
    margin: 0;
}


nav {
    width: 100%;
    background: #fbf3f3;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* Hide Hamburger */
nav label,
#hamburger {
    display: none;
}

#sg-hamburger {
    display: none;
}

/* Horizontal Menu Items */
.nav-items {
    display: flex;
    justify-content: flex-end;
}

.nav-items a {
    width: 90px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}



.nav-link img{
    width: 20px;
    
}

@media screen and (max-width: 768px) {

    nav label {
        display: inline-block;
        color: saddlebrown;
        background: transparent;
        font-size: 1.2em;
        padding: 10px;
        float: right;


    }

    .nav-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;

    }

    .nav-items {
        display: none;
        margin-top: 40px;
    }

    nav input:checked ~ .nav-items {
        display: block;
    }
    
    .sg-nav .nav-items {
        height: 100vh;
    }
}