

nav {
    width: 100%;
    background: #F7F7F4;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* Hide Hamburger */
nav label,
#hamburger {
    display: none;
}

#sg-hamburger {
    display: none;
}

/* Horizontal Menu Items */
.nav-items {
    display: flex;
    justify-content: flex-end;
}

.nav-items a {
    width: 90px;
    padding: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}



@media screen and (max-width: 768px) {

    nav label {
        display: inline-block;
        color: saddlebrown;
        background: transparent;
        font-size: 1.2em;
        padding: 10px;
        float: right;
        background-color: #F7F7F4;


    }

    .nav-items a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        background-color: #F7F7F4;

    }

    .nav-items {
        display: none;
        margin-top: 40px;
        background-color: #F7F7F4;
    }

    nav input:checked ~ .nav-items {
        display: block;
        background-color: #F7F7F4;
    }
    
    .sg-nav .nav-items {
        background-color: #F7F7F4;
    }
    
    .sg-nav a{
        text-align: end;
        height: 70px;
    }
}